@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
@*<h3>@ViewBag.Message</h3>*@

<p>For more than a thousand years, Tibetan artists have played a key role in the cultural life of Tibet. 
    From designs for painted furniture to elaborate murals in religious buildings, 
    their efforts have permeated virtually every facet of life on the Tibetan plateau. 
    The vast majority of surviving artworks created before the mid-20th century are dedicated to the depiction of religious subjects, 
    with the main forms being thangka, distemper paintings on cloth, Tibetan Buddhist wall paintings, and small statues in bronze, or large ones in clay, 
    stucco or wood. They were commissioned by religious establishments or by pious individuals for use within the practice of Tibetan Buddhism 
    and were manufactured in large workshops by monks and lay artists, who are mostly unknown.

The art of Tibet may be studied in terms of influences which have contributed to it over the centuries, 
    from other Chinese, Nepalese, Indian, and sacred styles.</p>

<h3>Mahayana Influence</h3>
<p>As Mahayana Buddhism emerged as a separate school in the 4th century AD, it emphasized the role of bodhisattvas, 
    compassionate beings who forgo their personal escape to nirvana in order to assist others. From an early time, 
    various bodhisattvas were also subjects of statuary art. Tibetan Buddhism, as an offspring of Mahayana Buddhism, 
    inherited this tradition. But the additional dominating presence of the Vajrayana (or Buddhist tantra) may have 
    had an overriding importance in the artistic culture. A common bodhisattva depicted in Tibetan art is the deity 
    Chenrezig (Avalokitesvara), often portrayed as a thousand-armed saint with an eye in the middle of each hand, 
    representing the all-seeing compassionate one who hears our requests. This deity can also be understood as a yidam, 
    or 'meditation Buddha' for Vajrayana practice.</p>

<h3>Bön influence</h3>
<p>The indigenous shamanistic religion of the Himalayas is known as Bön. Bon contributes a pantheon of local tutelary deities 
    to Tibetan art. In Tibetan temples (known as lhakhang), statues of the Buddha or Padmasambhava are often paired with statues 
    of the tutelary deity of the district who often appears angry or dark. These gods once inflicted harm and sickness on the local 
    citizens but after the arrival of Padmasambhava these negative forces have been subdued and now must serve Buddha.</p>

<h3>Contemporary Tibetan Art</h3>
<p>Contemporary Tibetan art refers to the art of modern Tibet, or Tibet after 1950. It can also refer to art by the Tibetan diaspora, 
    which is explicitly political and religious in nature. Contemporary Tibetan art includes modern thangka (religious scroll paintings) 
    that resemble ancient thangka, as well as radical, avant-garde, works.</p>

<style>
        body {
            background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQelMBsRSY75LX0nRGKUdKn9lhT_iboj81PMmSi6E1MihzoR3IByA");
            background-size: 100%;
        }
    </style>