
@{
    ViewBag.Title = "CustomRugs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Custom Rugs</h2>

<p>For custom orders follow the steps below and e-mail us your design at: kumaricarpet@gmail.com

We have few samples that you can select from. Click here to view our samples.

If you need help designing rugs contact us and send us your idea or a picture of your desired design and we will get our graphic designers to work on it. Following that we will send you the design of your desired rug. Once you approve of the design we can move on to the production phase.

We have various shapes, sizes, quality and colors that you can choose from.</p>



